body {
  font-size: 18px;
}

.fa-delete {
    color: gray;
    cursor: pointer;
    vertical-align: middle;
}

.fa-delete:hover {
    color: red;
}

.tag-delete {
	cursor: pointer;
}

.element-title {
	font-weight: bold;
}

.tag-delete:hover {
	color: orange;
}

.category-delete {
	cursor: pointer;
}

.category-delete:hover {
	color: orange;
}

.badge {
	font-size: 18px !important;
	padding: 7px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.stats-variation {
	font-size: 25px;
}

.post-title {
	font-size: 26px;
	margin-bottom: 25px;
}

.stats-title {
	text-align: center;
	font-size: 50px;
}

.col-center {
	text-align: center;
}

.post-content {
	text-align: justify;
	font-size: 18px;
}

.row {
	margin-top: 15px;
}

.row-title {
	font-weight: bold;
}

.section-selector {
	cursor: pointer;
}

.voffset30 {
	margin-bottom: 30px;
}

.last-row {
	margin-bottom: 50px;
}

#saved {
	text-align: center;
	margin-top: 5px;
	display: none;
}

#processing {
	text-align: center;
	margin-top: 5px;
	display: none;
}