.navbar-brand {
    padding: 0px !important;
}

.navbar-brand>img {
    max-width: 225px !important;
}

.navbar {
    border-bottom: 1px solid lightgray;
}

.navbar-toggler {
    margin-top: 23px !important;
    min-height: 40px !important;
}

.nav-item {
    font-size: 22px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.nav-icons {
    padding-top: 4px !important;
}