.navbar-brand {
    padding: 0px !important;
}

.nav {
    color: white !important;
}

.navbar-brand>img {
    max-width: 225px !important;
}

.navbar-toggler {
    margin-top: 23px !important;
    min-height: 40px !important;
}

.nav-item {
    font-size: 22px !important;
    margin-right: 5px;
    margin-left: 5px;
}

.nav-icons {
    padding-top: 4px;
}

.nav-link {
    color: white !important;
}
