.navbar {
    background-color: black !important;
    border: 0px !important;
}

.nav > li > a {
  color: white !important;
}

.nav > li > a:hover {
  color: gray !important;
}

/*.resource-title a {
    color: orange;
}

.resource-title a:hover {
    color: orange;
}*/